body {
  text-align: center;
  width: auto;
  background-color: white;
  padding: 10px;
  font-family: Heebo, Nunito_Sans;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
}

#myBooks {
  padding: 2%;
}

.title {
  text-align: center;
  padding: 15px;
  background-color: #e0d9d9;
  border: rgba(164, 158, 180, 0.6);
  border-bottom: #807c7c solid;
}

hr {
  margin-top: 15px;
  margin-bottom: 15px;
}

.booksCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: left;
  font-size: 20px;
  padding-top: 5px;
  font-size: smaller;
}
.booksCard .card {
  width: 450px;
  flex-wrap: wrap;
  border: black 3px solid;
  text-align: left;
  height: 450px;
  margin: 15px;
  padding: 15px;
  background-color: #f1f1f1;
  border-radius: 2%;
  overflow-x: auto;
}
@media (max-width: 767px) {
  .booksCard .card {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    width: fit-content;
  }
}
.booksCard .elementTitle {
  font-weight: bold;
}
.booksCard .card_info {
  overflow: auto;
  width: fit-content;
  display: inline-block;
  font-weight: normal;
}

@media screen and (min-width: 767px) {
  .booksCard {
    column-count: 1;
  }

  .card {
    flex-direction: row;
    width: fit-content;
  }

  #elementId {
    font-style: italic;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599) {
  #elementId {
    font-style: italic;
  }

  .booksCard {
    column-count: 2;
    grid-template-columns: auto;
    height: 450px;
  }

  .card {
    column-count: max 3;
  }
}
@media screen and (min-width: 1600px) {
  .booksCard {
    column-count: max 5;
  }

  #elementId {
    font-style: italic;
    font-weight: lighter;
  }
}
button {
  background-color: #3bbea9;
  color: #fff;
  display: block;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.8rem;
  width: 160px;
  height: 30px;
  font-size: 15px;
}

.fas {
  text-align: right;
  float: right;
  border: none;
  font-size: 20px;
  width: 60px;
  height: 40px;
  color: #3bbea9;
}

.fas:hover {
  color: #6161e9;
}

#addBookButton {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.searchButton {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
}

.cancelButton {
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f74a4a;
}

.card__img {
  height: auto;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 5px;
}

@media screen and (min-width: 767px) {
  #searchButton, #cancelButton {
    width: 150px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1599) {
  #searchButton, #cancelButton {
    width: 200px;
  }
}
@media screen and (min-width: 1600px) {
  #searchButton, #cancelButton {
    max-width: 250x;
    max-height: 200px;
  }

  .card__img {
    text-align: center;
  }
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: center;
  max-width: 150px;
  max-height: 150px;
  border: 1.2mm ridge;
}

label {
  width: 100%;
  margin-top: 20px;
  display: inline-block;
  text-align: left;
  font-size: 25px;
}

input {
  display: block;
  width: 100%;
  height: 40px;
  font-size: 20px;
}

@media screen and (min-width: 767px) {
  #elementId {
    font-size: 14px;
    font-weight: lighter;
    font-style: italic;
  }

  .input {
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    width: 75%;
    width: 50%;
  }
}

/*# sourceMappingURL=style.css.map */
