body {
  text-align: center;
  position: relative;
  margin: auto;
  background-color :white;
  padding :10px;
}
#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:center;
  max-width: 200px;
  max-height: 200px;
border: 1.2mm ridge rgba(170, 150, 220, 0.6);
}
content{
  text-align: center;
  border-top: 2px solid #e2e2e2;
  margin-top: 10px;
 width: 100%;
}


h1{
font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
text-align: center;
font-size:2.5em;
padding: 15px;
background-color : rgb(224, 217, 217) ;
border:  rgba(164, 158, 180, 0.6);
border-bottom: rgb(128, 124, 124)solid;
}

h2{
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
.resultDiv{
  font-size: 30px;
  font-weight: bold;
}
  .h3 {
    display: flex;
    flex-direction:row;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    
   
  }
  .displayCard{
    border: black 3px solid;
    align-self:auto;
  text-align: left;
  width:  35%;
  margin: 15px;
     padding: 15px;
    background-color: #f1f1f1;
    border-radius: 2%; 
      }
      .divDisplaySaved{
        border: black 3px solid;
        align-self:auto;
        text-align: left;
        width:  35%;
        margin: 15px;
         padding: 15px;
        background-color: #f1f1f1;
        border-radius: 2%; 
       }      

 hr{
margin-top: 15px;
margin-bottom: 20px;
  }

 button{ 
  background-color: rgb(59, 190, 169);
  color: white;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  width: 180px;
  height: 60px;
  font-size: 20px;
  }
  #addBookButton{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #searchButton {
    color:white;
    margin-top: 20px; 
}

#cancelButton {
    color:white;
    font-size: 20px;
    display: inline-block;
    margin-top: 20px;
    background-color: rgb(247, 74, 74);
}

     label {
          width: 100%;
          margin-top: 20px;
          display: inline-block;
          text-align: left;
          font-size: 30px;
      }
      input {
        display: block;
        width: 100%;
        height: 50px;
        font-size: 30px;
    }
   
 
.bookImage{
 text-align: center !important;
  position: relative;
  border :20%;
  max-width: 200x;
  max-height: 200px;
  margin-left: 40%;
}
                    
    .fas{
   float: right;
    border: none;
    font-size: 35px;
    width: 60px;
    height: 40px;
    color :rgb(28, 133, 127);
    background-color:( #f1f1f1);
              }

              