body {
  text-align: center;
  margin: auto;
  font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
  font-size:1em;
  padding: 20px;
  background-color : rgb(183, 410, 150, 0.25);
}

img {
display: center;
float: align;
width: 150px;
border: 2mm ridge rgba(170, 150, 220, 0.6);

}
h1{
font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
text-align: center;
font-size:2em;
padding: 20px;
margin : 2em;
background-color : rgb(183, 410, 200, 0.25) ;
border: 2mm ridge rgba(170, 150, 220, .6);
}

 hr{
margin-top: 15px;
margin-bottom: 20px;
  }
  h2{
  text-align: center;
  font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
  }