body {
  text-align: center;
  margin: auto;
  font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
  font-size:1em;
  padding: 10px;
  background-color : rgba(185, 510, 180, 0.25);
}

img {
display: center;
float: align;
width: 150px;
border: 2mm ridge rgba(170, 150, 220, 0.6);

}
h1{
font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
text-align: center;
font-size:2em;
padding: 20px;
margin : 2em;
background-color : rgba(183, 410, 200, 0.25) ;
border: 2mm ridge rgba(170, 150, 220, .6);
}

h2{
  text-align: center;
  font-family: Heebo, Nunito_Sans, Helvetica, sans-serif;
  }

 hr{
margin-top: 15px;
margin-bottom: 20px;
  }

  button{
    font-size: 1em;
    background-color: #94e0b1;
    color: #fff;
    padding: 1rem;
    border: 1.8mm ridge rgba(170, 150, 220, 0.6);
    margin-left: 1em;
    margin-top: 1em;
    
    ; 
  }

  input{
    margin-left: 1em;
    margin-top: 1em;
    margin-right:1.5em;
    display: inline;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 20em;
    height: 3em;
    border-width: 0.2em;
    border-color: black;
    size: 0.8em; 
  }

  #cancelButton{
    background-color: #e4454d;
   
  }
  
  
  myResults{
    text-align: left;
    border: rgb(19, 13, 13);
    font-size: 2em;
  }
  #myResults > div.\#myResults.\>.div\:nth-child\(1\){
    text-align: left;
  }
  #\[object\ HTMLButtonElement\]{
    align-items: right;
  }
