@import "./utils/variables";
@import "./utils/mixins";
@import "./Base/base";
@import "./Components/component";

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  position:center;
  max-width: 150px;
  max-height: 150px;
border: 1.2mm ridge ;
}

label {
          width: 100%;
          margin-top: 20px;
          display: inline-block;
          text-align: left;
          font-size:25px;
      }
input {
        display: block;
        width: 100%;
        height: 40px;
        font-size: 20px;
    }
 
 
@media screen and (min-width: 767px)  {
 
  #elementId{
      font-size: 14px;
      font-weight: lighter;
      font-style: italic;
  }
  .input {
    font-size: inherit;
    width: 100%;
    box-sizing: border-box;
    width: 75%;
    width: 50%;
  }  
 }


    