body {
    text-align: center;
   
    width: auto;
    background-color :white;
    padding :10px;
    font-family: Heebo, Nunito_Sans;
    font-family:  Helvetica, sans-serif;
    font-size: 15px;
  }

#myBooks{    
    padding: 2%;
}
.title{
    text-align: center;
    padding: 15px;
    background-color : rgb(224, 217, 217) ;
    border:  rgba(164, 158, 180, 0.6);
    border-bottom: rgb(128, 124, 124)solid;
    }     
hr{
    margin-top: 15px;
    margin-bottom: 15px;
      }

.booksCard{
   
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
    font-size: smaller;

.card{
    width: 450px;
    @include card-params();

      }

.elementTitle{
    font-weight: bold;
        }
.card_info {
    overflow:auto;
    width:fit-content;
    display: inline-block;
    font-weight:normal;
}
    }

@media screen and (min-width: 767px) {
    .booksCard{
        column-count:1;
      }
    .card{
       flex-direction: row;
        width:fit-content;
    }

    #elementId{
       font-style: italic;
}  
}

@media screen and(min-width: 768px) and (max-width:1599){
    #elementId{
        font-style: italic;
 }  
 .booksCard{
    column-count:2;
    grid-template-columns:auto;
    height: 450px;
  }
 .card{
    column-count: max 3;
   
}
}

@media screen and (min-width: 1600px) {
    .booksCard {
        column-count: max 5;
      }

        #elementId{
        font-style: italic;
        font-weight: lighter
 }  

}

