body {
    text-align: center;
    margin: auto;
    width: auto;
    background-color :white;
    padding :10px;
    font-family: Heebo, Nunito_Sans;
    font-family:  Helvetica, sans-serif;
    font-size: 15px;
  }

#myBooks{    
    padding: 2%;
}
.title{
    text-align: center;
    padding: 15px;
    background-color : rgb(224, 217, 217) ;
    border:  rgba(164, 158, 180, 0.6);
    border-bottom: rgb(128, 124, 124)solid;
    }     
hr{
    margin-top: 15px;
    margin-bottom: 15px;
      }



.booksCard{
    @include booksCard-params();
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    font-size: 20px;
    padding-top: 5px;
    font-size: smaller;

.card{
    @include card-params();

      }

.elementTitle{
    font-weight: bold;
        }
#card_info {
    width: fit-content;
    display: inline-block;
    font-weight:normal;
}
    }

@media only screen and (min-width: 767px) {
    .booksCard{
        column-count:1;
      }
    .card{
        display: inline-block;
        flex-direction: row;
        width:fit-content;
    }

    #elementId{
       font-style: italic;
}  
}

@media screen and(min-width: 768px) and (max-width:1599){
    #elementId{
        font-style: italic;
 }  
 .booksCard{
    column-count:2;
  }
 .card{
  
    display: inline-block;
    width : 50%;
}
}

@media screen and (min-width: 1600px) {
    .booksCard {
        column-count:2;
      }

        #elementId{
        font-style: italic;
        font-weight: lighter
 }  
 .card{
    display: inline-block;
    width :500px;
}

}

