@mixin card-params{
    flex-wrap: wrap;
    border: black 3px solid;
    text-align: left;
     height: 450px;
     margin: 15px;
     padding: 15px;
     background-color: #f1f1f1;
     border-radius: 2%; 
     overflow-x: auto; 
     @media (max-width: 767px) {
        margin-right:10px;
        margin-left:10px;
        margin-top:20px;
        text-align:left;
        padding:20px;
        width :fit-content;
     }
  }
@mixin button-params{
    display:block;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-right: 0.8rem;
     width: 160px;
    height: 30px;
    font-size: 15px;
}
@mixin button-search-params{
    color: $primaryColor;
    margin-top: 20px; 
    margin-bottom: 20px;
}

